@page "/"

<div class="container mx-auto">
    <div class="grid grid-cols-2 gap-6">
        <div class="shadow-sm bg-white rounded-lg">
            shadow-sm
        </div>
        <div class="shadow bg-white rounded-lg">
            shadow
        </div>
        <div class="shadow-md bg-white rounded-lg">
            shadow-md
        </div>
        <div class="shadow-lg bg-white rounded-lg">
            shadow-lg
        </div>
        <div class="shadow-xl bg-white rounded-lg">
            shadow-xl
        </div>
        <div class="shadow-2xl bg-white rounded-lg">
            shadow-2xl
        </div>
    </div>
    <br />
    <div class="space-y-5">
        <div class="p-3 bg-white shadow rounded-lg">
            <h3 class="text-xs border-b">font-sans</h3>
            <p class="font-sans">
            The quick brown fox jumps over the lazy dog.
            </p>
        </div>
        <div class="p-3 bg-white shadow rounded-lg">
            <h3 class="text-xs border-b">font-serif</h3>
            <p class="font-serif">
            The quick brown fox jumps over the lazy dog.
            </p>
        </div>
        <div class="p-3 bg-white shadow rounded-lg">
            <h3 class="text-xs border-b">font-mono</h3>
            <p class="font-mono">
            The quick brown fox jumps over the lazy dog.
            </p>
        </div>
    </div>

</div>


